:root {
  --footer-header-color: rgb(20, 151, 137);
  --hover: rgb(106, 204, 194);
  --main-background-color: rgb(65, 107, 126);
  --links-color: rgb(255, 255, 255);
  --ash-grey-rgb: rgb(226, 226, 226);
  --hover-background-color: rgb(79, 137, 163);
}
* {
  box-sizing: border-box;
}
html {
  font-size: 10px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
  font-size: 1.6;
  line-height: 2;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 0;
  background-color: var(--ash-grey-rgb);
  text-transform: capitalize;
}
/*start of header styling*/
.header {
  background-color: var(--footer-header-color);
}

.nav-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding: 1.5rem 2rem;
}
.home-highScores {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  letter-spacing: 0.5rem;
  text-transform: uppercase;
}
.mad-quiz-link {
  color: var(--links-color);
  text-decoration: none;
  font-size: 3rem;
}
.highScores-link {
  text-decoration: none;
  color: var(--links-color);
  font-size: 1.5rem;
}
.image-link {
  display: flex;
  align-items: center;
  text-decoration: none;
}

.nav-image {
  width: 15rem;
  height: 12rem;
  object-fit: contain;
}
/*end of header styling*/
/*start of main styling*/
.main {
  flex: 2;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 40rem;
  color: var(--ash-grey-rgb);
}
.content-section,
.highscores-title,
.highScoresSection {
  display: flex;
  flex-direction: column;
  align-items: center;
  letter-spacing: 0.3rem;
  text-align: center;
  width: 60%;
  padding: 2rem 0;
  color: var(--ash-grey-rgb);
  background-color: var(--main-background-color);
  box-shadow: 2px 2px 2px 2px var(--footer-header-color);
  border-radius: 0.5rem;
}
.content-headers {
  padding: 0 2rem;
  font-size: 1.7rem;
  font-weight: 600;
}
.quiz-rules {
  line-height: 2;
  font-size: 1.3rem;
  font-weight: bold;
  padding: 0 1rem;
}
.btn-control {
  padding: 2rem 1rem;
  text-align: center;
}
.btn {
  border: none;
  line-height: 2.5;
  letter-spacing: 0.2rem;
  padding: 0.5rem 2rem;
  min-width: 20rem;
  font-size: 1rem;
  color: var(--links-color);
  font-size: 1.4rem;
  text-shadow: 0.1rem 0.1rem 0.1rem rgb(0, 0, 0);
  border-radius: 1rem;
  background-color: var(--footer-header-color);
  background-image: linear-gradient(
    to top left,
    rgba(0, 0, 0, 0.2),
    rgba(0, 0, 0, 0.2) 30%,
    rgba(0, 0, 0, 0)
  );
  box-shadow: inset 2px 2px 3px rgba(255, 255, 255, 0.6),
    inset -2px -2px 3px rgba(0, 0, 0, 0.6);
}
.btn:hover {
  background-color: var(--hover);
  cursor: pointer;
}

.btn-control:active {
  box-shadow: inset -2px -2px 3px rgba(255, 255, 255, 0.6),
    inset 2px 2px 3px rgba(0, 0, 0, 0.6);
}
/*end of header styling*/

/*start of footer styling*/
.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: var(--footer-header-color);
  padding: 2rem 0;
}
.github-link,
.resources-link {
  text-decoration: none;
  color: var(--links-color);
  font-size: 1.5rem;
  text-transform: uppercase;
  letter-spacing: 0.5rem;
}

/*rendered sections and media queries styling*/
.timer-section {
  font-size: 1.5rem;
  margin-top: 1rem;
  padding: 1rem;
  letter-spacing: 0.3rem;
  background-color: var(--main-background-color);
  box-shadow: 2px 2px 2px 2px var(--footer-header-color);
  border-radius: 0.5rem;
}

.question-container, .score-data {
  display: flex;
  flex-direction: column;
  align-items: center;
  letter-spacing: 0.3rem;
  margin: 2rem 0;
  padding: 2rem 1rem;
  text-align: center;
  color: var(--ash-grey-rgb);
  box-shadow: 2px 2px 2px 2px var(--footer-header-color);
  border-radius: 0.5rem;
}
.question-title {
  padding: 2.5rem 2.5rem;
  margin: 0;
}
.choices-list {
  padding: 0;
  font-size: 1.4rem;
  list-style-type: none;
}
.list-choice,
.question-title {
  background-color: var(--main-background-color);
  border-radius: 0.8rem;
  box-shadow: 2px 2px 2px 2px var(--footer-header-color);
}
.list-choice {
  font-weight: 500;
  padding: 2rem 2rem;
  margin: 1rem;
}
.list-choice:hover {
  background-color: var(--hover-background-color);
  cursor: pointer;
}
.form-section,
.restart-page {
  letter-spacing: 0.3rem;
  margin: 2rem 0;
  padding: 2rem 1rem;
  text-align: center;
  color: var(--ash-grey-rgb);
  box-shadow: 2px 2px 2px 2px var(--footer-header-color);
  border-radius: 0.5rem;
}
.input-title,
.restart-page,
.score-data {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  background-color: var(--main-background-color);
  padding: 2rem;
  border-radius: 0.5rem;
  box-shadow: 1px 1px 1px 1px var(--footer-header-color);
}
.input-field,
.form-button,
.restart-button,
.finish-quiz-button {
  margin: 1rem;
  border-radius: 0.5rem;
  text-transform: capitalize;
  box-shadow: 0.5px 0.5px 0.5px 0.5px var(--footer-header-color);
}
.input-field {
  line-height: 2;
}
.restart-option {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 1.4rem;
}
.form-button,
.restart-button,
.finish-quiz-button {
  background-color: var(--footer-header-color);
  color: var(--ash-grey-rgb);
  border: none;
  padding: 1rem;
  cursor: pointer;
  letter-spacing: 0.2rem;
  
}
.highScoresSection {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  
}
.highscores-list {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  list-style-type: none;
  flex-wrap: wrap;
  color: var(--ash-grey-rgb);
}


@media only screen and (max-width: 600px) {
  body {
    line-height: 1.5;
  }
  .nav-container {
    flex-wrap: nowrap;
  }
  .home-answers {
    text-align: center;
  }
  .main {
    margin: 0 0.5rem;
  }
.content-section,
.highscores-title,
.highScoresSection{
  width: 100%;
  margin: 1rem;
}
}
